page-tabs {
  .tabs-ios .tab-button:hover:not(.disable-hover), .tabs-ios .tab-button[aria-selected=true]{ color: color($colors,primary)}
  .tabs-ios .tab-button-icon{ height: 2.4rem; max-height: 30px;}
  .ion-ios-tab0-outline{ background: url(../assets/icon/tab01.png) no-repeat center center; background-size: contain;}
  .tabs-ios .tab-button[aria-selected=true] .ion-ios-tab0{ background: url(../assets/icon//tab1.png) no-repeat center center; background-size: contain;}
  
  .ion-ios-tab1-outline{ background: url(../assets/icon/tab02.png) no-repeat center center; background-size: contain;}
  .tabs-ios .tab-button[aria-selected=true] .ion-ios-tab1{ background: url(../assets/icon/tab2.png) no-repeat center center; background-size: contain;}
  
  .ion-ios-tab2-outline{background: url(../assets/icon/tab03.png) no-repeat center center; background-size: contain;}
  .tabs-ios .tab-button[aria-selected=true] .ion-ios-tab2{ background: url(../assets/icon/tab3.png) no-repeat center center; background-size: contain;}
  
  .ion-ios-tab3-outline{ background: url(../assets/icon/tab04.png) no-repeat center center; background-size: contain;}
  .tabs-ios .tab-button[aria-selected=true] .ion-ios-tab3{ background: url(../assets/icon/tab4.png) no-repeat center center; background-size: contain;}
  
  .ion-ios-tab4-outline{ background: url(../assets/icon/tab05.png) no-repeat center center; background-size: contain;}
  .tabs-ios .tab-button[aria-selected=true] .ion-ios-tab4{ background: url(../assets/icon/tab5.png) no-repeat center center; background-size: contain;}
}
