<ion-header>
  <ion-navbar color="change">
    <ion-buttons start>
      <button *ngIf="cp?.u?.id" ion-button icon-only menuToggle>
        <img class="avatar" src="{{cp?.u?.avatar ? cp?.u?.avatar:'../../../../assets/imgs/avatar.png'}}" alt="">
      </button>
      <div *ngIf="!cp?.u?.id" start class="login-btn" (click)="cp.goto({view:'login'})">登录</div>
    </ion-buttons> 
    <ion-title>
      法务支持
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="cp.goto({view:'search'})">
        <ion-icon name="md-search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-item>
    <ion-list (click)="cp.goto({view:'legal-mould'})">
      <img src="../../assets/imgs/legal_mould.png" alt="">
    </ion-list>
    <ion-list (click)="cp.goto({view:'legal-suggest'})">
      <img src="../../assets/imgs/legal_suggest.png" alt="">
    </ion-list>
    <!-- <ion-list (click)="cp.goto({view:'legal-execute'})">
      <img src="../../assets/imgs/legal_execute.png" alt="">
    </ion-list> -->
    <ion-list>
      <img src="../../assets/imgs/legal_execute.png" alt="">
    </ion-list>
</ion-item>

</ion-content>