page-artist-detail {
    .scroll-content {
        background: -webkit-linear-gradient(#4aafa3, #14666e); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(#4aafa3, #14666e); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(#4aafa3, #14666e); /* Firefox 3.6 - 15 */
        background: linear-gradient(#4aafa3, #14666e); /* 标准的语法（必须放在最后） */
    }
    .scroll-content {
        background-color: #fafafa;
    }
    .item-ios {
        background-color: transparent;
    }
    .item-ios.item-block .item-inner {
        border: unset;
    }
    .head-box {
        padding-top: 10rem!important;
        .head-info {
            position: relative;
            width: 100%;
            background-color: #fff;
            .head-avatar {
                position: absolute;
                top: -5rem;
                left: 50%;
                transform: translateX(-50%);
                width: 8rem;
                height: 8rem;
                object-fit: cover;
                border-radius: 50%;
            }
            .collect {
                position: absolute;
                top: -.9rem;
                right: 1rem;
                color: #ff983c;
                background-color: #fff;
                padding: 0 .7em;
                line-height: 1.8rem;
                font-size: 1.2rem;
                border-radius: 1.8rem;
                box-shadow: 0px 0px 2px #abaaaa;
            }
            .head-content {
                padding-top: 5rem;
                h4 {
                    color: #333;
                    text-align: center;
                    margin-bottom: 0;
                }
                p {
                    color: #999;
                    text-align: center;
                }
                .intro-base {
                    border-radius: 0.5rem;
                    width:100%;
                    // height: 8rem;
                    padding: 1rem;
                    display: flex;
                    background-color: rgba(255,255,255,0.9);
                    text-align: center;
                    .intro-age {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        h3,p {
                            margin: 0;
                            flex: 1;
                            line-height: 2rem;
                        }
                        h3 {
                            font-size: 2.4rem;
                        }
                    }        
                }
            }
        }
        
    }
    .detail-box {
        background-color: #fff;
        // 简介
        // 个人信息
        .people-info {
            margin-top: 1rem;
            >div {
                display: flex;
                >span {
                    flex: 5;
                    font-size: 1.4rem;
                    line-height: 2rem;
                }
                >span:first-child{
                    flex: 2;
                    color: #666;
                }
                div {
                    flex: 5;
                    span {
                        font-size: 1.4rem;
                        line-height: 2rem;
                        color: #fff;
                        padding: 0 1em;
                        border-radius: 2rem;
                        margin: 0 .5rem .5rem 0;
                        float: left;
                    }
                }
            }
        }
        // 个人简介
        .people-brief {
            p {
                margin-top: 1rem;
                white-space: normal;
                font-size: 1.5rem;
                line-height: 1.8rem;
            }
        }
        // 工作经历
        .people-work {
            overflow: hidden;
            ion-slide {            
                box-shadow: 0px 0px 2px #abaaaa;
                border-radius: .5rem;
                overflow: hidden;
                background-color: #fff;
                .item-ios {
                    padding: 0;
                }
                .label-ios {
                    margin: 0;
                    display: flex;
                    flex-direction: row;   
                }
                img {
                    width: 45%;
                    float: left;
                    object-fit: cover;
                    height: 11rem;
                }
                .work-detail {
                    width: 55%;
                    float: left;
                    padding: .5rem 0;
                    position: relative;
                    .del-btn {
                        position: absolute;
                        top: 0.6rem;
                        right: 0;
                        font-size: 1.6rem;
                        color: #999;
                    }
                    h4,p {
                        margin: 0;
                        line-height: 2rem;
                        overflow: hidden;
                        text-overflow:ellipsis;
                        white-space: nowrap;
                    }
                    h4 {
                        padding: 0 1rem 0 .5rem;
                        color: #333;
                    }
                    p {
                        padding: 0 0 0 .5rem;
                        color: #999;
                        font-size: 1rem;
                    }
                }
            }
        }
        // 档期
        .work-date {
            background-color: #fff;
            border-radius: 0.5rem;
            padding: 1rem;
            .date-modify {
                float: right;
                color: #14666e;
                font-size: 1.4rem;
                ion-icon {
                    font-size: 1.4rem;
                    vertical-align: middle;
                }
            }
            .date-box-null {
                border: 1px solid #fafafa;
                margin-top: 0.5rem;
                text-align: center;
                padding: 1rem;
            }
            .date-box {
                display: flex;
                flex-direction: row;
                border: 1px solid #fafafa;
                border-left:unset;
                margin-top: 0.5rem;
                .data-list {
                    flex: 1;
                    text-align: center;
                    flex-direction: column;
                    justify-content:space-around;
                    p {
                        color: #333;
                        margin: 0;
                        line-height: 2rem;
                        border-left: 1px solid #fafafa;
                    }
                    p:last-child {
                        border-top: 1px solid #fafafa;
                    }
                }
                .data-list:first-child {
                    flex: 2;
                }
            }
        }
        // 相册 
        .artist-detil {            
            padding: 1rem 0 1rem 0;
            .label-ios {
                margin: 0;
            }
            .item-inner {
                border: unset!important;
                padding: 0!important;
            }
            .artist-list {
                border: 1px solid #eee;
                box-shadow: 0px 0px 2px #abaaaa;
                border-radius: .5rem;
                overflow: hidden;
                padding-bottom: .5rem;
                img {
                    width: 100%;
                    height:16rem;
                    object-fit: cover;
                }
            }
            .item-ios {
                padding: 0px;
            }
            .artist-name {
                color: #333;
                text-align: center;
            }
            p {
                display: flex;
                text-align: center;
                color: #333;
                font-size: 1.2rem;
                span {
                    flex: 1;
                }
            }
        }
        // 视频
        .video-box {
            padding-top: 0!important;
        }
    }
}
