<ion-header>
  <ion-navbar color="change">
    <ion-title>我的私信</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <div *ngIf="organs&&organs?.length>0;else elseBlank">
        <organ lastPage="letter" *ngFor="let item of organs" [item]="item"></organ>
    </div>
    <ng-template #elseBlank>
      <div class="blank">
        <ion-icon class="iconfont icon-blank"></ion-icon>
        <p>亲，此处没有内容～</p>
      </div>
    </ng-template>
    <ion-infinite-scroll (ionInfinite)="doInfinite()">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>