page-home {
    .hot_artistimg{
        .slide-zoom{
            height:100%;
            img {
                object-fit: cover;
            }
        }
    }
    .head-bg{
        width:100%;
        height:25rem;
    }
    .artist_img{
        width:100% !important;
        height:15rem !important;
        object-fit: cover;
    }
    .search-btn {
        border: none;
        width: 100%;
        color: #333;
        background: #fff;
        padding: .5rem 1rem;
        border-radius: 3rem;
    }
    .slide-box {
        position: relative;
        height:24rem;
        ion-slides {
            position: absolute;
            top: 0;
            left:0;
            right:0;
            bottom:0;
            margin:auto;
            height: 15rem;
            background-color: transparent;
        }
        .swiper-container-3d .swiper-slide-shadow-right,
        .swiper-container-3d .swiper-slide-shadow-left {
            background: unset;
        }
    }
    .content-hot {
        padding: 0 0 1rem 0;
        .label-ios {
            margin: 0;
        }
        .item-inner {
            border: unset!important;
            padding: 0!important;
        }
        .hot-blod {
            font-weight: 600;
        }
        /* 热门艺人 */
        .artist {
            padding-bottom: 1rem;
            .swiper-slide img {
                border-radius: 50%;
            }
            .current-hot {
                border: 1px solid #036f8e;
            }
        }
        .artist-detil {
            padding: 0;
            .artist-list {
                border: 1px solid #eee;
                box-shadow: 0px 0px 2px #abaaaa;
                border-radius: .5rem;
                overflow: hidden;
                padding-bottom: .5rem;
            }
            .item-ios {
                padding: 0px;
            }
            .artist-name {
                color: #333;
                text-align: center;
            }
            p {
                display: flex;
                text-align: center;
                color: #333;
                font-size: 1.2rem;
                span {
                    flex: 1;
                    /*溢出隐藏*/
                    overflow: hidden;
                    /*显示省略号*/
                    text-overflow: ellipsis;
                    /*不换行*/
                    white-space: nowrap;
                }
            }
        }
        /* 热门通告 */
        .notice {
            padding: 0 12px;
            .label-ios {
                padding: 4px;
            }
        }
    }
}
